
.Weather_card {
    background-color :rgba(6, 132, 136, 0.795) ;
    text-align: center;
    color: black;
    width: 100% !important;
    cursor: pointer;
}
.weather_card_wrapper {
    width: 85%;
    margin: 0px auto;
}
.bg1{
    background-image: linear-gradient(
					to right bottom,
					rgba(3, 1, 22, 0.529),
					rgba(8, 78, 75, 0.6)
					),url(../../assets/bg.jpg);
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    width: 100%;
}
.weather_title{
    margin: 0 auto;
    padding: 1.6rem 0 1rem 0;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.warn_text {
    color: rgb(19, 18, 18) !important;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.3rem;
    font-weight: 500;
}
.saved_weather{
    margin: auto;
    padding-top: 10px;
    color: rgba(206, 27, 27, 0.829) !important;
    width: 86%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .weather_card_wrapper {
        width: 42% !important;
        margin: auto;
        box-sizing: border-box;
    }
    .Weather_card{
        padding: 0 1.5rem;
    }
}

.loading {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: rgba(2, 49, 51, 0.795);
  border-bottom-color: rgba(2, 49, 51, 0.795);
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}
